<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.AppleNVMeEAN.allow</key>
	<true/>
	<key>com.apple.QuartzCore.debug</key>
	<true/>
	<key>com.apple.QuartzCore.secure-mode</key>
	<true/>
	<key>com.apple.UNCUserNotification</key>
	<true/>
	<key>com.apple.afk.user</key>
	<true/>
	<key>com.apple.aop.hid-device.user-client</key>
	<dict>
		<key>wakehint</key>
		<dict>
			<key>aggd</key>
			<dict/>
		</dict>
	</dict>
	<key>com.apple.appledfr.client</key>
	<true/>
	<key>com.apple.bluetooth.internal</key>
	<true/>
	<key>com.apple.bluetooth.nsxpc</key>
	<true/>
	<key>com.apple.bluetooth.system</key>
	<true/>
	<key>com.apple.developer.allow-connection-port-with-port-array</key>
	<true/>
	<key>com.apple.diagnosticpipeline.request</key>
	<true/>
	<key>com.apple.hid.heartrate-access</key>
	<true/>
	<key>com.apple.hid.manager.user-access-device</key>
	<true/>
	<key>com.apple.hid.manager.user-access-privileged</key>
	<true/>
	<key>com.apple.hid.multitouch.user-access</key>
	<true/>
	<key>com.apple.hid.system.server-access</key>
	<true/>
	<key>com.apple.hid.system.user-access-service</key>
	<true/>
	<key>com.apple.hidpreferences.privileged</key>
	<true/>
	<key>com.apple.internal.display-params-access-privileged</key>
	<true/>
	<key>com.apple.iohideventsystem.server</key>
	<true/>
	<key>com.apple.keystore.sik.access</key>
	<true/>
	<key>com.apple.private.AmbientDisplay.messaging</key>
	<true/>
	<key>com.apple.private.allow-explicit-graphics-priority</key>
	<true/>
	<key>com.apple.private.applecredentialmanager.allow</key>
	<true/>
	<key>com.apple.private.applecredentialmanager.devicerestrictedmode.allow</key>
	<true/>
	<key>com.apple.private.biome.read-write</key>
	<array>
		<string>Device.ExternalDisplay.DisplayConnected</string>
	</array>
	<key>com.apple.private.cecd.control</key>
	<true/>
	<key>com.apple.private.cecd.observer</key>
	<true/>
	<key>com.apple.private.colorsync.privileged</key>
	<true/>
	<key>com.apple.private.dfr.brightness-access</key>
	<true/>
	<key>com.apple.private.exclaves.conclave-host</key>
	<true/>
	<key>com.apple.private.exclaves.indicator_min_on_time</key>
	<true/>
	<key>com.apple.private.gpuwrangler</key>
	<true/>
	<key>com.apple.private.graphics-restart-no-kill</key>
	<true/>
	<key>com.apple.private.hid.client.admin</key>
	<true/>
	<key>com.apple.private.hid.client.event-monitor</key>
	<true/>
	<key>com.apple.private.iog.displayassertion</key>
	<true/>
	<key>com.apple.private.iokit.displayservice</key>
	<true/>
	<key>com.apple.private.iokit.rootdomain-set-property</key>
	<true/>
	<key>com.apple.private.iomfb.set-block</key>
	<true/>
	<key>com.apple.private.iomfb.set-block-client-profile</key>
	<string>windowserver</string>
	<key>com.apple.private.iosurfaceinfo</key>
	<true/>
	<key>com.apple.private.kernel.work-interval</key>
	<true/>
	<key>com.apple.private.spatialconnect</key>
	<array>
		<string>foveation-observer</string>
	</array>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAccessibility</string>
		<string>kTCCServiceListenEvent</string>
		<string>kTCCServicePostEvent</string>
		<string>kTCCServiceScreenCapture</string>
	</array>
	<key>com.apple.private.tcc.manager.check-by-audit-token</key>
	<array>
		<string>kTCCServiceAccessibility</string>
		<string>kTCCServiceListenEvent</string>
		<string>kTCCServicePostEvent</string>
		<string>kTCCServiceScreenCapture</string>
	</array>
	<key>com.apple.private.xpc.launchd.per-user-lookup</key>
	<true/>
	<key>com.apple.runningboard.assertions.fuseboard</key>
	<true/>
	<key>com.apple.runningboard.process-state</key>
	<true/>
	<key>com.apple.security.exception.mach-lookup.global-name</key>
	<array>
		<string>com.apple.SpatialConnect.host</string>
		<string>com.apple.backlightd</string>
	</array>
	<key>com.apple.security.exception.sysctl.read-only</key>
	<array>
		<string>kern.exclaves_status</string>
		<string>kern.task_conclave</string>
	</array>
	<key>com.apple.systemstatus.domains</key>
	<array>
		<string>media</string>
		<string>location</string>
	</array>
</dict>
</plist>
